S3method(asNumericIfPossible, default)
S3method(asNumericIfPossible, logical)
S3method(asNumericIfPossible, numeric)
S3method(asNumericIfPossible, character)
S3method(asNumericIfPossible, factor)
S3method(asNumericIfPossible, data.frame)
S3method(asNumericIfPossible, matrix)
S3method(cleanifyString, character)
S3method(cleanifyString, factor)
S3method(cleanifyString, data.frame)

# eatPrep usage
export(set.col.type)
export(addLeadingZerosToCharInt)

# eatModel usage
export(multiseq)
export(halveString)
export(gsubAll)
export(num.to.cat)
export(insert.col)
export(whereAre)
export(recodeLookup)
export(roundDF)
export(pwc)
export(mergeAttr)
export(makeDataFrame)
export(rbind_common)
export(rbind_fill_vector)
export(cleanifyString)

# eatGADS usage
export(catch_asNumericIfPossible)
export(do_call_rbind_withName)
export(readMultisep)
export(seq2)

# eatRep usage
export(existsBackgroundVariables)
export(removePattern)
export(facToChar)
export(crop)
export(tableUnlist)
export(removeNumeric)
export(removeNonNumeric)
export(asNumericIfPossible)
export(tablePattern)
export(descr)
export(wideToLong)
export(contr.wec.weighted)
export(wtdTable)
export(wtdVar)
export(na_omit_selection)
export(print_and_capture)
export(makeTria)
export(`%$$%`)

### imports
importFrom("stats", weighted.mean, median, na.omit, sd, var, t.test, contr.treatment, cor)
import("data.table")
